/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-04-2017, 13:06:11
    Author     : cetecom
*/
a.submenu{
    /*margin: 0 0 0 20px;*/
    padding: 0 0 0 60px;
}


a:hover{
    background: black;
}

#contenedor{
    width:100%;
}

#titulo{    
    width:100%;
    height: 100px;
    float: left;  
    color:#f9f9f9;
    background: #286090;
}

#footer{    
    width:100%;
    height: 100px;
    float: left;
    color: #f9f9f9;
    background: #122b40;
}

#menu{
    width: 20%;
    height: 500px;
    float: left;
    background: #ffffff;
}
#contenido{
   width: 80%;
   height: 500px; 
   float: left;
   background: snow;
}

#logout{
    right   :1000px;
    top     :10px;
    width   :120px;
    float   :right;
    position:absolute;
}

#imgunder{
    top     :400px;
    width   :400px;
}